.table-gpa {
    position: fixed;
    width: 295px;
}

.td-{
    background: rgb(255, 255, 255);
}
.td-red{
    color: #a94442;
    background-color: #d9534f!important;
}
.td-green{
    color: #3c763d;
    background-color: #5cb85c!important;
}
.td-yellow{
    color: #8a6d3b;
    background-color: #f0ad4e!important;
}

.w-day{
    width: 13%;
}
.w-courseId{
    width: 15%;
}
.w-courseTitle{
    width: 40%;
}
.w-grade{
    width: 17%;
}
.w-creditsEarned{
    width: 15%;
}

.cal-left{
    width: 60%;
}

.cal-right{
    width: 40%;
}

.cal-input{
    width: 100%;
}

.report{
    background: white;
}