<div class="row">
    <div class="col-sm-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Course ID</th>
                    <th>Course Title</th>
                    <th>Grade</th>
                    <th>Credits Earned</th>
                    <th>Grade Points</th>
                </tr>
            </thead>
            <tbody *ngFor="let course of transcript">
                <tr>
                    <td>{{course.Day}}</td>
                    <td>{{course.CourseID}}</td>
                    <td>{{course.CourseTitle}}</td>
                    <td><input [(ngModel)]="course.Grade"></td>
                    <td>{{course.CreditEarned}}</td>
                    <td>{{convertGrade(course.Grade)*course.CreditEarned}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Calculator</th>
                     <button type="button" class="btn" (click)="refreshData()">Refresh Data</button> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GPA: </td>
                    <td>{{gpaCalculator(transcript)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>