.table-gpa {
    width: 20%;
    position: fixed;
}

.td-{
    background: rgb(255, 255, 255);
}

.w-day{
    width: 13%;
}
.w-courseId{
    width: 15%;
}
.w-courseTitle{
    width: 40%;
}
.w-grade{
    width: 17%;
}
.w-creditsEarned{
    width: 15%;
}

.cal-left{
    width: 60%;
}

.cal-right{
    width: 40%;
}

.cal-input{
    width: 100%;
}

.gpa-modified{
    background: red;
}

.report{
    background: white;
}

.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}
.custom-button{
    float: right!important;
}

.custom-button-export {
    background-color: rgb(52, 108, 192); /* Green */
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.custom-button-export:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.custom-button-refresh {
    background-color: rgb(207, 0, 162); /* Green */
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.custom-button-refresh:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
