<div class="row">
    <div class="col-sm-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Course ID</th>
                    <th>Course Title</th>
                    <th>Grade 
                        <select *ngIf="hopeGPA!=null" [(ngModel)]="colorSelected">
                            <option value="Full">Full</option>
                            <option class="td-green" value="green">Green</option>
                            <option class="td-yellow" value="yellow">Yellow</option>
                            <option class="td-red" value="red">Red</option>
                          </select>
                    </th>
                    <th>Credits Earned</th>
                </tr>
            </thead>
            <tbody *ngFor="let course of transcript">
                <tr *ngIf="course.CreditEarned>0 && showCheck(setColor(convertGrade(course.Grade)))">
                    <td>{{course.Day}}</td>
                    <td>{{course.CourseID}}</td>
                    <td>{{course.CourseTitle}}</td>
                    <td class="td-{{setColor(convertGrade(course.Grade))}}" *ngIf="onSellectGrades(course.CourseID).length>1">
                        <select [(ngModel)]="course.Grade" >
                            <option *ngFor="let grade of onSellectGrades(course.CourseID)" [value]="grade">{{grade}}</option>
                          </select>
                    </td>
                    <td class="td-{{setColor(convertGrade(course.Grade))}}" *ngIf="onSellectGrades(course.CourseID).length==1">
                        {{course.Grade}}
                    </td>
                    <td>{{course.CreditEarned}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <div clas="table-gpa">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Calculator</th>
                            <th>
                                <button type="button" class="btn" (click)="refreshData()">Refresh Data</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Current GPA: </td>
                            <td>{{gpaCalculator(transcript_default) | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                            <td>Change GPA: </td>
                            <td>{{gpaCalculator(transcript) | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                            <td>Hope GPA: </td>
                            <td>
                                <input [(ngModel)]="hopeGPA">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th colspan="3">Change Courses</th>
                    </tr>
                    <tr *ngFor="let course of modifiedCourses(transcript)">
                        <td>{{course.CourseTitle}}</td>
                        <td>{{course.Grade}}</td>
                        <td><button style="font-size:12px" (click)="deleteChange(course.CourseID)">Delete</button></td>
                    </tr>
                </table>
        </div>
    </div>
</div>