<div class="contener">
    <h3 class="text-center" style="color: red">{{title}}</h3>
    <div class="row">
        <div class="col-sm-3">
            <textarea rows="15" cols="35" [(ngModel)]="xml">
                
            </textarea>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="convert(xml)">Convert</button>
        </div>
        <div class="col-sm-7">
                <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Course ID</th>
                                <th>Course Title</th>
                                <th>Grade</th>
                                <th>Credits Earned</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let course of courses">
                            <tr>
                                <td>{{course.Day}}</td>
                                <td>{{course.CourseID}}</td>
                                <td>{{course.CourseTitle}}</td>
                                <td>{{course.Grade}}</td>
                                <td>{{course.CreditEarned}}</td>
                            </tr>
                        </tbody>
                    </table>
        </div>
    </div>
</div>